<div class="row">

  <div class="col s12 m4">
    <div class="card-panel red lighten-2">
      <span class="white-text">
          <i class="fa fa-user fa-lg"></i>
          <%= current_user.email %>
      </span>
    </div>
  </div>



  <div class="col s12 m4">
    <div class="card-panel purple lighten-2">
      <span class="white-text">
          <i class="fa fa-th-list fa-lg"></i>
          Total Issue : <%= @project.total_issue %>
      </span>
    </div>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<%= link_to '<i class="fa fa-chevron-left fa-fw"></i> Back'.html_safe, projects_path, class: 'waves-effect waves-light btn' %> 
<%= link_to '<i class="fa fa-pencil fa-fw"></i> Edit'.html_safe, edit_project_path(@project), class: 'waves-effect waves-light btn' %>

