<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title) %> | FixdoneApi</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- App layouts -->
</head>
<body>
<%= render 'layouts/app/header' %>
<div class="container">
	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>
  	<%= yield %>
</div>
<div id="push"></div>
<%= render 'layouts/app/footer' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script type="text/javascript">
 $(".container table").addClass("hoverable responsive-table")
 $(".button-collapse").sideNav();
 $('select').material_select();
</script>

</body>
</html>
